<footer class="pb-4 pt-0" id="footer-section">

  <h4 class="mt-4 mb-4 mb-lg-5 mb-lg-5 text-center">VÅRA KUNDER</h4>

  <div class="partner-links container mb-4">
    <div class="row ">

      <div class="col-6 mb-md-3">
        <a routerLink="#" class="partner justify-content-center d-flex">
          <img src="../../assets/images/partners/peab-logo.png" alt="">
        </a>
      </div>

      <div class="col-6 mb-md-3">
        <a routerLink="#" class="partner justify-content-center d-flex">
          <img src="../../assets/images/partners/NCC_(Unternehmen)_logo.svg.png" alt="">
        </a>
      </div>

      <div class="col-6 mb-md-3">
        <a routerLink="#" class="partner justify-content-center d-flex">
          <img src="../../assets/images/partners/skanska-logo-vector-47105.png" alt="">
        </a>
      </div>

      <div class="col-6 mb-md-3">
        <a routerLink="#" class="partner justify-content-center d-flex">
          <img src="../../assets/images/partners/byggpartner.png" alt="">
        </a>
      </div>

    </div>
  </div>

  <div class="bg-footer-list pt-5">
    <div class="container">
      <div class="row">

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <ul class="footer-list">
            <h5 class="pb-4">Adress</h5>
            <li><i class="fas fa-angle-right"></i> Aros Byggsmide AB</li>
            <li><i class="fas fa-angle-right"></i> Transformatorgatan 10</li>
            <li><i class="fas fa-angle-right"></i> 721 37 Västerås</li>
          </ul>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <ul class="footer-list">
            <h5 class="pb-4">Kontakt</h5>
            <li><i class="fas fa-angle-right"></i> Tfn 021-13 22 11</li>
            <li><i class="fas fa-angle-right"></i> Fax 021 12 43 35</li>
            <li><i class="fas fa-envelope"></i> E-post: info@arosbyggsmide.se</li>
          </ul>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <ul class="footer-list">
            <h5 class="pb-4">Tommy Lindgren</h5>
            <li><i class="fas fa-angle-right"></i> 070 688 47 07</li>
            <li><i class="fas fa-envelope"></i> E-post: tommy@arosbyggsmide.se</li>
          </ul>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <ul class="footer-list">
            <h5 class="pb-4">Micke Lindgren</h5>
            <li><i class="fas fa-angle-right"></i> 070 643 33 26</li>
            <li><i class="fas fa-envelope"></i> E-post: micke@arosbyggsmide.se</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</footer>