<section id="card-section">
  <div class="container">
    <h3 class="pt-4 pb-4 pb-lg-5 pt-lg-5 text-center">REFERENSER</h3>

    <div class="card-deck">

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card mb-5">
          <img src="../../assets/images/cards/back-view-business-engineer-2760241.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title mb-0">Hälla fackhandel</h5>
            <p class="mb-0 mt-2">-stålstommar</p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card mb-5">
          <img src="../../assets/images/cards/architectural-design-architecture-building-2096578.jpg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title mb-0">Västerås Centrallasarett </h5>
            <p class="mb-0 mt-2">-påbyggnad av ytterligare en våning</p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card mb-5">
          <img src="../../assets/images/cards/blue-building-ikea-1797405.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title mb-0">IKEA</h5>
            <p class="mb-0 mt-2">-ombyggnad av entrén</p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card mb-5">
          <img src="../../assets/images/cards/abandoned-abandoned-building-architecture-2958565.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title mb-0">Culturen </h5>
            <p class="mb-0 mt-2">-stålkonstruktioner</p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card mb-5">
          <img src="../../assets/images/cards/aeroplane-aircraft-fighter-aircraft-72593.jpg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title mb-0">Hässlö Flygplats</h5>
            <p class="mb-0 mt-2">-takkonstruktion</p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card mb-5">
          <img src="../../assets/images/cards/architecture-blue-sky-business-2599538.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title mb-0">Konserthusets glasfasad</h5>
            <p class="mb-0 mt-2">-stålstommar</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>